@charset "utf-8";
@import url("Lato_Light/stylesheet.css");
@import url("OpenSans_Regular/stylesheet.css");

span {
	font-family: "Lato Light";
	font-size: 36px;
}
p {
	font-family: "OpenSans Regular";
	font-size: 18px;
}
body {
    background-color: #f2f2f2;
}
.Pad15 {
	padding: 0px 0px 0px 65px;
}
.Pad20 {
	padding: 0px 0px 0px 300px;
}